.companyWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #efefef;
}

.companyDetails {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    padding-right: 16px;
    padding-left: 16px;
    gap: 18px;
}

.searchInput {
    width: 80%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
}

.companyCard {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 500px;
}

.companyCardHeader {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    margin-bottom: 16px;
}

.companyLogo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.attribute {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.icon {
    width: 24px;
    height: 24px;
}

.jsonView {
    width: 100%;
    max-width: 500px;

    height: 400px;
    overflow-y: auto;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: monospace;
    color: #444;
    text-align: left;
}

/* DUPLICATED from chat.module.css */
.inputForm {
    display: flex;
    width: 100%;
    padding: 10px;
    padding-bottom: 40px;
    /* order: 1; */
}

.input {
    flex-grow: 1;
    padding: 16px 24px;
    margin-right: 10px;
    border-radius: 60px;
    border: 2px solid transparent;
    font-size: 1em;
    background-color: #efefef;
    border-color: #000;
}

.input:focus {
    outline: none !important;
    background-color: white;
}

.chatControls {
    display: flex;
    gap: 8px;
}

.button {
    padding: 8px 24px;
    background-color: #000;
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 60px;
    /* Removed duplicate border-radius property */
}